01_FirstExample/01_FirstExample-AllUsers.opt
01_FirstExample/01_FirstExample-oscara-MONTELEC03.opt
01_FirstExample/01_FirstExample.Device.Application.a17bfe73-02f1-474e-97d0-405b1665b914.bootinfo
01_FirstExample/01_FirstExample.Device.Application.a17bfe73-02f1-474e-97d0-405b1665b914.bootinfo_guids
01_FirstExample/01_FirstExample.Device.Application.a17bfe73-02f1-474e-97d0-405b1665b914.compileinfo
/01_FirstExample/.obsidian
01_FirstExample/01_FirstExample.autosave
01_FirstExample/01_FirstExample.project.~u
